label.tab-text {
    font-family: "Terminus (TTF)", monospace;	
    font-size: 10pt !important;
}

#urlbar, #searchbar .searchbar-textbox {
    font-family: "Terminus (TTF)", monospace; 
    font-size: 10pt 
}
