[submodule ".config/awesome/lain"]
	path = .config/awesome
	url = git://github.com/lcpz/lain.git
[submodule ".config/awesome/freedesktop"]
	path = .config/awesome
	url = git://github.com/lcpz/awesome-freedesktop.git
